@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Review 4 Us<br />
   LEICESTER, LE7 8HG<br />
    <abbr title="Phone">Phone Number:</abbr>
    07583628472
</address>

<address>
    <strong>Email Us:</strong>   <a href="mailto:Review4Us@example.com">Review4Us@example.com</a><br />

</address> 